{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE}}">
<head>
    <meta charset="utf-8">
    <link rel="manifest" href="{% static 'home/manifest.json' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#00b7fc">
    <link rel="icon" href="{% static 'home/img/favicon.png' %}">
    <script src="https://kit.fontawesome.com/51f11f635e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/style-white.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <title>I am a Willer</title>
    <script>
        if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register("/sw.js").then(function(
            registration) {
            console.log('Registration successful, scope is:',
                registration.scope)
        }).catch(function(error) {
            console.log(
                'Service worker registration failed, error:',
                error);
        })
    }
    </script>
</head>
<body>
    <header>
        <h1><a href="/{{LANGUAGE_CODE}}/">I am a willer</a></h1>
        <div class="tools">
            <div class="user">
                <a href="{% url 'profile' %}"><i class="fa-regular fa-user"></i> {% if request.user.is_authenticated %}{{request.user.username}}{% else %}{% translate 'Log in' %}{% endif %} </a>
            </div>
            <div class="languages">
                <a href="/en/{{request.path|slice:'4:'}}"{% if LANGUAGE_CODE == 'en' %} class="active"{% endif %}>EN</a>
                <a href="/pt/{{request.path|slice:'4:'}}"{% if LANGUAGE_CODE == 'pt' %} class="active"{% endif %}>PT</a>
                <a href="/it/{{request.path|slice:'4:'}}"{% if LANGUAGE_CODE == 'it' %} class="active"{% endif %}>IT</a>
            </div>            
        </div>
    </header>

    {% block content %}

    {% endblock %}

    <footer>
        <p><a href="https://willeasy.net/"><img style="width: 80px;" src="{% static 'home/img/logo-white.svg' %}" alt=""></a> VAT: IT02936410303 – <a target="_blank" href="https://www.iubenda.com/privacy-policy/42138467">Privacy policy</a></p>

        <!-- <div class="willeasy">
                    <p><img src="{% static 'home/img/logo-white.svg' %}" alt="">
                        <a target="_blank" href="https://creativecommons.org/licenses/by-nd/4.0/legalcode"><img src="{% static 'home/img/logo-cc.png' %}" alt="Terms and conditions - Creative Commons"></a>
            </p>
            <p>Willeasy srl - ©2023 - VAT: IT02936410303 <br>
            <a target="_blank" href="https://www.iubenda.com/privacy-policy/42138467">Privacy policy</a></p>
        </div>
        <div class="eu">
            <img src="{% static 'home/img/logo-eu.png' %}" alt="European Union">
            <img src="{% static 'home/img/logo-uia.png' %}" alt="Urban Innovative Actions"><br>
        <p>This project is co-financed by the European Regional Development
Fund <br> through the Urban Innovative Actions Initiative</p>
        </div> -->
        
    </footer>
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>

    <script>
        // Create a Vue application
        const app = Vue.createApp({
            data() {
                return {
                    esigenze: [],
                    esigenze_utente: [],
                    esigenze_utente_changed: false,
                    page: 0,
                    lat: null,
                    lng: null,
                    stations: [],
                    lifts: [],
                    location_type: null,
                    station: null,
                    lift: null,
                    status: null,
                    areas: [],
                    area: null,
                    filePreview: null,
                    geolocalizing: true,
                    geolocalizing_error: false,
                    sending: false,
                    search_query: '',
                    liftCategories: [
                        {pk:0, name: 'Lift'},
                        {pk:1, name: 'Stairlift'},
                        {pk:4, name: 'Escalator'},
                    ],
                    domande: [],
                    risposte: {},
                }
            },
            mounted() {
                fetch('/{{LANGUAGE_CODE}}/api/esigenze/')
                    .then(response => response.json())
                    .then(data => {
                        this.esigenze = data
                    })
                fetch('/{{LANGUAGE_CODE}}/users/profile/', {
                    headers: {
                        "X-Requested-With": "XMLHttpRequest",
                    }})
                    .then(response => response.json())
                    .then(data => {
                        this.esigenze_utente = data.esigenze
                    })
            },
            computed: {
                // se almeno una risposta è stata data, la pagina è compilata
                compilato() {
                    for (const [key, value] of Object.entries(this.risposte)) {
                        if (value && !Array.isArray(value) || Array.isArray(value) && value.length > 0) {
                            return true
                        }
                    }
                },
            },
            methods: {
                nextPage() {
                    this.page++
                    window.scrollTo(0, 0)
                },
                prevPage() {
                    this.page--
                    window.scrollTo(0, 0)
                },
                geoloc() {
                    // this.lat = Math.random() - 9
                    // this.lng = Math.random() + 38

                    // this.lat = 38.73383859614848 //+ Math.random() / 10 - 0.05
                    // this.lng = -9.138131269364441 //+ Math.random() / 10 - 0.05
                    this.geolocalizing = true

                    if (!this.lat || !this.lng) {
                        navigator.geolocation.getCurrentPosition(position => {
                            this.lat = position.coords.latitude
                            this.lng = position.coords.longitude
                            this.loadPlaces()
                        }, error => {
                            this.geolocalizing = false
                            this.geolocalizing_error = error.message
                        })
                    } else {
                        this.loadPlaces()
                    }
                },
                loadPlaces() {
                    this.geolocalizing = true
                    fetch('/{{LANGUAGE_CODE}}/api/places/?location_type=' + this.location_type + '&lat=' + this.lat + '&lng=' + this.lng + '&query=' + this.search_query)
                        .then(response => response.json())
                        .then(data => {
                            this.stations = data
                            this.geolocalizing = false
                        })
                },
                placeChosen(station) {
                    this.station = station
                    if (this.location_type == 'M') {
                        this.loadLifts(station)
                        this.nextPage()
                    }
                    if (this.location_type == 'R' || this.location_type == 'H') {
                        this.loadQuestions()
                        this.nextPage()
                    }

                },
                loadLifts(station) {
                    this.station = station
                    fetch('/{{LANGUAGE_CODE}}/api/lifts/?station_id=' + this.station.pk)
                        .then(response => response.json())
                        .then(data => {
                            this.lifts = data
                         
                        })
                },
                loadQuestions() {
                    const params = new URLSearchParams({
                        category: this.location_type,
                        esigenze: this.esigenze_utente,
                    })
                    const queryString = params.toString()


                    fetch('/{{LANGUAGE_CODE}}/api/areas/?' + queryString)
                        .then(response => response.json())
                        .then(data => {
                            this.areas = data
                            for (let area of this.areas) {
                                for (let domanda of area.domande) {
                                    this.risposte[domanda.pk] = null
                                    if (domanda.type == 'checkbox' || domanda.type == 'image') {
                                        this.risposte[domanda.pk] = []
                                    }
                                }
                            }
                        })
                },
                showFilePreview(domanda, event) {
                    const files = event.target.files
                    for (let file of files) {
                        const new_image = {url: URL.createObjectURL(file), name: file.name, image: null}
                        console.log(new_image.name)
                        const reader = new FileReader()
                        reader.readAsDataURL(file)
                        reader.onload = () => {
                            new_image.image = reader.result
                        }

                        this.risposte[domanda.pk].push(new_image)
                    }
                },
                sendFeedback() {
                    fetch('/{{LANGUAGE_CODE}}/api/segnalazioni/', {
                        method: 'POST',
                        body: new URLSearchParams({
                            status: this.status,
                            lift: this.lift.pk,
                        })
                    })
                    this.page++
                    window.scrollTo(0, 0)
                },
                saveAnswers() {
                    this.sending = true
                    fetch('/{{LANGUAGE_CODE}}/api/rilevazioni/', {
                        method: 'POST',
                        body: JSON.stringify({luogo:this.station.pk, rilevazioni: this.risposte}),
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    }).then(response => {
                        this.sending = false

                        if (response.ok) {
                            this.risposte = {}
                            this.page +=2
                            window.scrollTo(0, 0)
                        } else {
                            alert('Error sending data')
                        }
                    })
                },
                savePreferences() {
                    fetch('/{{LANGUAGE_CODE}}/users/profile/', {
                        method: 'POST',
                        body: JSON.stringify({esigenze: this.esigenze_utente}),
                        headers: {
                            'Content-Type': 'application/json',
                            "X-Requested-With": "XMLHttpRequest",
                        }
                    }).then(response => {
                        if (response.ok) {
                            this.esigenze_utente_changed = false
                        } else {
                            alert('Error sending data')
                        }
                    })
                }
            },
            delimiters: ['[[', ']]'],
        })

        app.mount('#app')

    </script>
</body>
</html>