{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="manifest" href="{% static 'home/manifest.json' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#00b7fc">
    <script src="https://kit.fontawesome.com/51f11f635e.js" crossorigin="anonymous"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjNVxw8FdB3VDaPE1XXSpJ1hCAamhmD3o" defer></script>
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap" rel="stylesheet"> 
    <title>I am a Willer</title>
    <script>
        if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register("/sw.js").then(function(
            registration) {
            console.log('Registration successful, scope is:',
                registration.scope)
        }).catch(function(error) {
            console.log(
                'Service worker registration failed, error:',
                error);
        })
    }
    </script>
</head>
<body>
    <header>
        <h1>I am a willer</h1>
    </header>

    {% block content %}

    {% endblock %}

    <footer>
        <p>Powered by <img src="{% static 'home/img/logo-white.svg' %}" alt=""> – <a target="_blank" href="https://www.iubenda.com/privacy-policy/42138467">Privacy policy</a></p>
    </footer>
    <script src="{% static 'home/js/scripts.js' %}"></script>
</body>
</html>