{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE}}">
<head>
    <meta charset="utf-8">
    <link rel="manifest" href="{% static 'home/manifest.json' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#00b7fc">
    <script src="https://kit.fontawesome.com/51f11f635e.js" crossorigin="anonymous"></script>
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjNVxw8FdB3VDaPE1XXSpJ1hCAamhmD3o" defer></script> -->
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}?{% now 'u' %}">
    <link href="https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap" rel="stylesheet"> 
    <title>I am a Willer</title>
    <script>
        if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register("/sw.js").then(function(
            registration) {
            console.log('Registration successful, scope is:',
                registration.scope)
        }).catch(function(error) {
            console.log(
                'Service worker registration failed, error:',
                error);
        })
    }
    </script>
</head>
<body>
    <header>
        <h1>I am a willer</h1>
        <div class="languages">
            <a href="/?lang=it"{% if LANGUAGE_CODE == 'it' %} class="active"{% endif %}>IT</a>
            <a href="/?lang=en"{% if LANGUAGE_CODE == 'en' %} class="active"{% endif %}>EN</a>
        </div>
    </header>

    {% block content %}

    {% endblock %}

    <footer>
        <p>Powered by <img src="{% static 'home/img/logo-white.svg' %}" alt=""> – <a target="_blank" href="https://www.iubenda.com/privacy-policy/42138467">Privacy policy</a></p>
    </footer>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- <script src="{% static 'home/js/scripts.js' %}"></script> -->

    <script>
        // Create a Vue application
        const app = Vue.createApp({
            data() {
                return {
                    page: 0,
                    lat: 0,
                    lng: 0,
                    stations: [],
                    lifts: [],
                    location_type: null,
                    station: null,
                    lift: null,
                    status: null,
                    areas: [],
                    area: null,
                    liftCategories: [
                        {pk:0, name: 'Lift'},
                        {pk:1, name: 'Stairlift'},
                        {pk:4, name: 'Escalator'},
                    ],
                    domande: [],
                    risposte: {},
                }
            },
            methods: {
                nextPage() {
                    this.page++
                    window.scrollTo(0, 0)
                },
                prevPage() {
                    this.page--
                    window.scrollTo(0, 0)
                },
                geoloc() {
                    this.lat = Math.random() - 9
                    this.lng = Math.random() + 38

                    this.lat = 38.73383859614848 + Math.random() / 10 - 0.05
                    this.lng = -9.138131269364441 + Math.random() / 10 - 0.05

                    fetch('/api/places/?location_type=' + this.location_type + '&lat=' + this.lat + '&lng=' + this.lng)
                        .then(response => response.json())
                        .then(data => {
                            this.stations = data
                        })
                },
                placeChosen(station) {
                    if (this.location_type == 'M') {
                        this.loadLifts(station)
                        this.nextPage()
                    }
                    if (this.location_type == 'R') {
                        this.loadQuestions()
                        this.nextPage()
                    }
                },
                loadLifts(station) {
                    this.station = station
                    fetch('/api/lifts/?station_id=' + this.station.pk)
                        .then(response => response.json())
                        .then(data => {
                            this.lifts = data
                         
                        })
                },
                loadQuestions() {
                    fetch('/api/areas/')
                        .then(response => response.json())
                        .then(data => {
                            this.areas = data

                        })
                },
                sendFeedback() {
                    console.log(this.status)
                    this.page = 6
                }
            },
            delimiters: ['[[', ']]'],
        })

        app.mount('#app')

    </script>
</body>
</html>