{% extends 'home/base.html' %}
{% load static willer_tags %}
{% block content %}

<div id="app">
<div id="slideshow" :style="{transform: 'translateX(' + (-100 * page) + 'vw)'}">


    <div class="container">
        <div class="slide" data-page="0">
    
            <h2><span class="number">1</span> {% translate_label 'Cosa vuoi segnalare?' %}</h2>
            
            <div class="choices">

                <div class="choice">
                <label for="field-type-metro" @click="location_type='M'; nextPage(); geoloc()">
                    <i class="fa-solid fa-train-subway-tunnel"></i>
                    <h3>{% translate_label 'Metro' %}</h3>
                    <i class="fa-solid fa-chevron-right"></i>
                </label>
                </div>

                <div class="choice">
                    <label for="field-type-restaurant" @click="location_type='R'; nextPage(); geoloc()">
                        <i class="fa-solid fa-fork-knife"></i>
                        <h3>{% translate_label 'Restaurant' %}</h3>
                        <i class="fa-solid fa-chevron-right"></i>

                    </label>

                </div>
            </div>
    
    
    
            
        </div>
    </div>


    <div class="container">
        <div class="slide" data-page="1">
    
            <h2><span class="number">2</span> {% translate_label 'Select your station' %}</h2>
    
            <h2>[[lat]], [[lng]]</h2>
            
            <div class="choices">

                <div class="choice" v-for="station in stations">
                    <input v-model="station_id" type="radio" :value="station.pk" :id="'station-' + station.pk">
                    <label @click="placeChosen(station)" :for="'station-' + station.pk">
                        <i class="fa-solid fa-train-subway-tunnel"></i>
                        <h3 v-if="station">[[station.fields.name]]</h3>
                        <i class="fa-solid fa-chevron-right"></i>
                    </label>
                </div>
            </div>
    
    
            <div class="pagination">
                <a @click="prevPage()" class="btn prev"><i class="far fa-arrow-left"></i> {% translate_label 'Back' %}</a>
            </div>
            
        </div>
    </div>



  


    <div class="container" v-show="location_type=='M'">
        <div class="slide" data-page="2">
    
            <h2><span class="number">3</span> {% translate_label 'Choose the device' %}</h2>
    
            <h2 v-if="station">[[station.fields.name]]</h2>
            
            <div class="choices">

                <div class="choice" v-for="lift in lifts">
                    <input v-model="lift_id" type="radio" :value="lift.pk" :id="'lift-' + lift.pk">
                    <label @click="this.lift = lift; this.status=null; nextPage();" :for="'lift-' + lift.pk">
                        <div class="place-info">
                        <img v-if="lift.fields.image" class="preview" :src="'https://open.willeasy.app/lifts/' + lift.pk + '/thumbnail/'" alt="">
                        <h3>[[lift.fields.friendly_name || lift.fields.name]]</h3>
                        <p>[[lift.fields.from_area]] <i class="fa-regular fa-arrow-right"></i>  [[lift.fields.to_area]] --<strong>[[lift.fields.status]]</strong>  </p>
                        </div>
                        <i class="fa-solid fa-chevron-right"></i>
                    </label>
                </div>
            </div>
    
    
            <div class="pagination">
                <a @click="prevPage()" class="btn prev"><i class="far fa-arrow-left"></i> {% translate_label 'Back' %}</a>
            </div>
            
        </div>
    </div>



    <div class="container" v-show="location_type=='M'">
        <div class="slide" data-page="3">

        <h2><span class="number">4</span> {% translate_label 'Is it working?' %}</h2>

        <div class="place-preview" v-if="lift">
            <h3>[[station.fields.name]]</h3>
            <img :src="'https://open.willeasy.app/lifts/' + lift.pk + '/thumbnail/'" alt="">
            <div class="place-name">
            <h4>[[lift.fields.friendly_name || lift.fields.name]]</h4>
            <p>[[lift.fields.from_area]] <i class="fa-regular fa-arrow-right"></i>  [[lift.fields.to_area]]</p>
            </div>
        </div>


        <div class="status">
            <button class="btn ok" :class="{active:this.status === 1}" @click="status=1">
                <i class="fa-regular fa-face-smile"></i>
                <p>{% translate_label 'Lift is working' %}</p>
            </button>
            <button class="btn ko" :class="{active:this.status === 0}" @click="status=0">
                <i class="fa-regular fa-face-sad-tear"></i>
                <p>{% translate_label 'Lift is not working' %}</p>
            </button>
        </div>

        <button @click="sendFeedback()" class="btn send" v-show="this.status !== null">
            <i class="fa-solid fa-send"></i>
            {% translate_label 'Send feedback' %}
        </button>

        <div class="pagination">
            <a @click="prevPage()" class="btn prev"><i class="far fa-arrow-left"></i> {% translate_label 'Back' %}</a>
        </div>
        
    </div>
</div>

<div class="container" v-show="location_type=='R'">
    <div class="slide" data-page="4">
    
            <h2><span class="number">2</span> {% translate_label 'Scegli area' %}</h2>
                [[risposte]]
            <div class="choices">

                <div class="choice" v-for="area in areas">
                    <input type="radio" :value="area.pk" :id="'area-' + area.pk">
                    <label @click="nextPage(); this.area=area" :for="'area-' + area.pk">
                        <i class="fa-solid fa-train-subway-tunnel"></i>
                        <h3 v-if="area">[[area.nome]]</h3>
                        <i class="fa-solid fa-chevron-right"></i>
                    </label>
                </div>
            </div>
    
    
            <div class="pagination">
                <a @click="prevPage()" class="btn prev"><i class="far fa-arrow-left"></i> {% translate_label 'Back' %}</a>
            </div>
            
        </div>
    </div>


    <div class="container" v-show="location_type=='R'">
        <div class="slide" data-page="5">
    
            <h2><span class="number">2</span> {% translate_label 'Caratteristiche' %}</h2>
            
            <p v-if="area">[[area.nome]]</p>
            
            <div class="domanda" v-for="domanda in area.domande" v-if="area" v-key="domanda.pk">
                <h3>[[domanda.domanda]]</h3>
                <ul>
                    <li v-for="risposta in domanda.risposte" v-key="risposta.pk">
                        <label><input :name="'risp-' + domanda.pk" :type="domanda.multi ? 'checkbox' : 'radio'" :checked="this.risposte[domanda.pk] == risposta.pk" @change="this.risposte[domanda.pk] = risposta.pk"> [[risposta.risposta]]</label>
                    </li>
                </ul>
            </div>
    
    
            <div class="pagination">
                <a @click="prevPage()" class="btn prev"><i class="far fa-arrow-left"></i> {% translate_label 'Back' %}</a>
            </div>
            
        </div>
    </div>
    <!-- <div class="container">
        <div class="slide" data-page="22">

            {% if request.session.willer %}
            <h1><span class="number">0</span> {% translate_label 'Enter your data' %}</h1>

            <div class="user-info">
                <p>Nickname: <label class="text-label">{{request.session.willer.nickname}}</label></p>
                <p>Email: <label class="text-label">{{request.session.willer.email}}</label></p>    
            </div>


                <div class="pagination">
                    <a href="?new-user" class="btn"><i class="far fa-user"></i> {% translate_label 'Change user' %}</a>
                    <a href="#" class="btn next">{% translate_label 'Next' %} <i class="far fa-arrow-right"></i></a>
                </div>

            {% else %}
            <h1>{% translate_label 'Enter your data' %}</h1>

            <p class="info">xxxß{% translate_label 'Please enter your email address and choose a nickname' %}</p>

            {% for message in messages %}
                <div class="alert alert-danger">
                    {{message}}
                </div>
            {% endfor %}

            <form method="post">
                <div class="field-group">
                    <label for="field-nickname" class="text-label">Nickname</label>
                    <input autofocus value="{{request.session.willer.nickname}}" type="text" id="field-nickname" name="nickname" required maxlength="30"> 
                </div>

                <div class="field-group">
                    <label for="field-email" class="text-label">Email</label>
                    <input value="{{request.session.willer.email}}" type="email" id="field-email" name="email" required>    
                </div>

                <div class="pagination" style="justify-content: center">
                    <button class="btn" type="submit"><i class="far fa-right-to-bracket"></i> {% translate_label 'Log in' %}</button>
                </div>
            </form>
            {% endif %}
        </div>
    </div> -->







<div class="container">
<div class="slide" data-page="6">

    <h2><span class="number">5</span> {% translate_label 'Thank you' %}!</h2>
 
    <div class="pagination">
        <a @click="page=0" class="btn prev"><i class="far fa-arrow-left"></i> {% translate_label 'Nuova' %}</a>
        <a href="https://iamawiller.com" class="btn next">{% translate_label 'Willer' %} <i class="far fa-arrow-right"></i></a>    
    </div>
    
</div>
</div>




</div>

</div>
{% endblock content %}