{% extends 'home/base.html' %}
{% load static willer_tags i18n %}
{% block content %}

<div id="app">
<div id="slideshow" :style="{transform: 'translateX(' + (-100 * page) + 'vw)'}">

    <div class="container">
        <div class="title">
            <div class="slide">
                <div class="back">
                    <a href="{% url 'profile' %}"><i class="far fa-arrow-left"></i></a>

                </div>
                <h2>{% translate 'Password reset confirmation' %}</h2>
            </div>
        </div>
        <div class="slide">
 
{% if validlink %}

<p>{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

<form method="post">{% csrf_token %}
    <input type="hidden" autocomplete="username" value="{{ form.user.get_username }}">
    <div class="field">
        {{ form.new_password1.errors }}
        <label for="id_new_password1">{% translate 'New password:' %}</label>
        {{ form.new_password1 }}
    </div>
    <div class="field">
        {{ form.new_password2.errors }}
        <label for="id_new_password2">{% translate 'Confirm password:' %}</label>
        {{ form.new_password2 }}
    </div>
    <input type="submit" class="btn" value="{% translate 'Change my password' %}">
</form>

{% else %}

<p>{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}

        </div>
    </div>



     

</div>
</div>
{% endblock content %}