{% extends 'home/base.html' %}
{% load static willer_tags i18n %}
{% block content %}

<div id="app">
<div id="slideshow" :style="{transform: 'translateX(' + (-100 * page) + 'vw)'}">

    <div class="container">
        <div class="title">
            <div class="slide">
                <div class="back">
                    <a href="{% url 'profile' %}"><i class="far fa-arrow-left"></i></a>

                </div>
                <h2>{% translate 'Password reset' %}</h2>
            </div>
        </div>
        <div class="slide" data-page="0">
    
            <p>{% translate 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}</p>

            <form method="post" class="domanda">{% csrf_token %}
                    <div class="field">
                        {{ form.email.errors }}
                        <label for="id_email">{% translate 'Email address:' %}</label>
                        {{ form.email }}
                    </div>
                    <input class="btn" type="submit" value="{% translate 'Reset my password' %}">
                </form>
            
        </div>
    </div>



     

</div>
</div>
{% endblock content %}