{% extends 'home/base.html' %}
{% load static willer_tags i18n %}
{% block content %}

<div id="app">
<div id="slideshow" :style="{transform: 'translateX(' + (-100 * page) + 'vw)'}">

    <div class="container">
        <div class="title">
            <div class="slide">
                <div class="back">
                    <a href="{% url 'profile' %}"><i class="far fa-arrow-left"></i></a>

                </div>
                <h2>{% translate 'Password reset' %}</h2>
            </div>
        </div>
        <div class="slide">
            <p>{% translate 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}</p>

            <p>{% translate 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}</p>
            
        </div>
    </div>



     

</div>
</div>
{% endblock content %}